body{
    background-color:black;
    }
.Bio{
    background-color: paleturquoise;
    text-align: center;
    border:5px solid darkcyan;
    }
.Contact{
    background-color: paleturquoise;
    text-align: center;
    border:5px solid darkcyan;

    }